
div{
    margin: 10pt;
    padding: 10pt;
}
div.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

table{
    border: 2px solid black;

}
tr.head{
    font-weight: 600;
    text-align: center
}
td, th{
    padding: 4px;
    border: 1px solid black;
}
h2{
    margin-top: 3%;
}
h1{
    text-align: center
}